

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(85, 85, 85);
    color: white;
}

#calculator {
    background-color: rgb(37, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

.btn-to-display {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(68, 68, 68);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;


}
.btn-to-display:hover {
    background-color: rgb(96, 96, 96);
}
.btn-to-display:active {
    background-color: rgb(138, 138, 138);
}
#operator-btn {
    background-color: rgb(203, 139, 20);
}
#operator-btn:hover {
    background-color: rgb(177, 116, 1);
}
#operator-btn:active {
    background-color: rgb(203, 139, 20);
}
